h1 {
	font-weight: normal;
	font-size: 3em;
	border-bottom: 4px solid #222277;
}

body {
	background-color: #efeff5;
}

img {
  width: 100%;
}

.small{
  width: 40%;
  margin: 0 auto;
  display: block;
  padding-bottom: 200px;
}

.padded {
  padding-bottom: 2em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d0d0e1;
    color: white;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

nav{
  text-align: center;
  background-color: #a1a1c4;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  /*margin: 0;
  overflow: hidden;
  text-align: center;
  line-height: 30px;*/
}

nav li {
  float: left;
  display: inline;
}

nav li a {
  display: block;
  height: 15px;
  line-height: 15px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

nav .active {
  background-color: #222277;
  color: black;
}

.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  padding: 30px;
}

.picture {
  width: 100%;
  float: left;
}

.review {
  font-style: italic;
  font-family: 'Spectral SC', serif;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  padding-left: 10em;
  padding-right: 10em;
}

.name {
  font-style: bold;
  text-align: center;
  font-size: 16px;
  padding-bottom: 3em;
}